version: "3.8"

services:
  rasa:
    build: .
    container_name: rasa-server
    ports:
      - "5005:5005"
    volumes:
      - .:/app
    depends_on:
      - actions
      

  actions:
    build: ./actions
    container_name: rasa-actions
    volumes:
      - ./actions:/app
    ports:
      - "5055:5055"
