services:
  rasa:
    image: rasa/rasa:3.6.20
    container_name: rasa-server
    ports:
      - "5005:5005"
    volumes:
      - .:/app
    command: >
      run --enable-api --cors "*" --debug
    depends_on:
      - actions

  actions:
    image: rasa/rasa-sdk:3.6.2
    container_name: rasa-actions
    user: "0:0"
    ports:
      - "5055:5055"
    volumes:
      - ./actions:/app/actions
      - ./actions/requirements.txt:/app/requirements.txt
    # entrypoint: []
    command: ["start", "--actions", "actions", "--debug"]

  train:
    image: rasa/rasa:3.6.20
    container_name: rasa-train
    volumes:
      - .:/app
    command: >
      train
    profiles:
      - manual
